{% extends '@Lunch/layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Groups
                <small>List</small>
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <a href="{{ url('group_generate') }}" class="btn btn-warning">Regenerate</a>
        </div>
        <div class="col-lg-6">
            {% for group in groups %}
                <ul class="list-group">
                    {% for participant in group.participants %}
                        <li class="list-group-item">{{ participant.email }}</li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>
    </div>
{% endblock %}